.summary {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.summary-img {
  margin-right: 0.67em;
  width: 2em;
}

.summary-item {
  align-items: center;
  display: flex;
}
